.container {
  width: 75%;
  margin: 20px auto;
  display: flex;
  justify-content: space-between;
}

.mainContainer {
  padding: 30px 0;
  text-align: center;
  position: relative;
}

.separator {
  margin: 30px auto;
  width: 50%;
  border-color: rgb(187, 187, 187);
}

.bottomSeparator {
  composes: separator;
  width: 35%;
}

.button {
  font-size: 14px;
  margin-right: 15px;
}

.column1 { width: 100%; }
.column2 { width: 47%; }
.column3 { width: 32%; }
.column4 { width: 23%; }
.column5 { width: 18%; }
.column6 { width: 16%; }

.loadMoreButton {
  font-size: 17px;
  width: 13vw;
  height: 4vw;
  border-radius: 6px;
  border-width: 2px;
  border-style: dashed;
  padding: 0;
  transition: font-size .3s ease-in;
}

.loadMoreButton:hover {
  border-style: none;
  font-size: 18px;
  color: darkseagreen;
}

.refreshButton {

}

.refreshButton:hover {
  cursor: pointer;
}



.messageBoard {
  position: fixed 0 0;
  padding: 0 100px;
  z-index: 999;
  width: 100%;
  height: 100vh;
  background-color: rgba(#000100, .8);
  font-size: 40px;
  vertical-align: middle;
  display: flex;
  justify-content: center;
  align-items: center;
}
