html  
  head
    title="MusBox"
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/css/font-awesome.min.css')
    link(href='//fonts.googleapis.com/css?family=Raleway:400,300,600', rel='stylesheet', type='text/css')
    link(rel='stylesheet', href='#{cssHref}')
  body 
    #app
  script.
    var __INITIAL__APP__STATE = JSON.parse('!{state}' || null);
  if dev
    script(src="http://192.168.56.101:35729/livereload.js")
    script(src='/js/dll/MyDll.all.js' defer)
  else
    
  script(src='#{scriptSrc}' defer)
  
